<!--Start Skills Section-->
<section class="about mt-5 bg-dark text-light py-5 ">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-12 text-center mb-5">
                <h2 class="section-heading mt-3">Skills</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat. Donec
                    eu vehicula neque. Donec viverra lorem nunc, tempus euismod eros sollicitudin ut. Quisque et tincidunt libero. Donec id pharetra justo. Proin euismod lacinia dolor, eu scelerisque justo tempus pharetra. Vivamus nunc </p>
            </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-6 text-center d-flex flex-column justify-content-center">
            <p class="border-bottom border-5 pb-3">MY FOCUS</p>
            <ul>
              <li *ngFor="let skill of skills">{{skill}}</li>
            </ul>
          </div>
          <div class="col-6">
            <span>HTML</span>
            <div class="progress mt-2">
              <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 95%" aria-valuemin="2" aria-valuemax="70"></div>
            </div>
            <span>Css</span>
            <div class="progress mt-2">
              <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 92%" aria-valuemin="2" aria-valuemax="70"></div>
            </div>
            <span>JavaScript</span>
            <div class="progress mt-2">
              <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 90%" aria-valuemin="2" aria-valuemax="70"></div>
            </div>
            <span>NodeJs</span>
            <div class="progress mt-2">
              <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 75%" aria-valuemin="2" aria-valuemax="70"></div>
            </div>
            <span>MongoDB</span>
            <div class="progress mt-2">
              <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 70%" aria-valuemin="2" aria-valuemax="70"></div>
            </div>
            <span>Angular</span>
            <div class="progress mt-2">
              <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 50%" aria-valuemin="2" aria-valuemax="70"></div>
            </div>
            <span>React</span>
            <div class="progress mt-2">
              <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 80%" aria-valuemin="2" aria-valuemax="70"></div>
            </div>
            <span>Bootstrap</span>
            <div class="progress mt-2">
              <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 99%" aria-valuemin="2" aria-valuemax="70"></div>
            </div>
            <span>Flutter</span>
            <div class="progress mt-2">
              <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 65%" aria-valuemin="2" aria-valuemax="70"></div>
            </div>
          </div>
        </div>
    </div>
</section>
<!--End Skills Section-->
