

<main>
  <!--Start Main Section-->
  <section class="main-section bg-dark py-5 text-light">
    <div class="container py-4">
      <div class="row">
        <div class="col-6 text-center">
          <h1>Reham Muhammad</h1>
          <h3 class="mb-5">Software Developer</h3>

          <a href="#" class="btn btn-dark border-light mt-2" >Contact Me</a>


        </div>
      </div>
    </div>
  </section>
    <!--End Main Section-->
  <!--Start About Section-->

  <section class="about py-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h2 class="section-heading">About Me</h2>
            </div>
            <div class="col-md-8">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat. Donec
                    eu vehicula neque. Donec viverra lorem nunc, tempus euismod eros sollicitudin ut. Quisque et tincidunt libero. Donec id pharetra justo. Proin euismod lacinia dolor, eu scelerisque justo tempus pharetra. Vivamus nunc justo, finibus
                </p>
                <a  href="../assets/portfolio/Social Media Template.png" class="btn btn-dark" download>Download Resume</a>
            </div>
        </div>
    </div>
</section>
  <!--End About Section-->
    <!--Start Skills Section-->
    <section class="about mt-5 bg-dark text-light py-5 ">
      <div class="container py-4">
          <div class="row">
              <div class="col-md-12 text-center mb-5">
                  <h2 class="section-heading mt-3">Skills</h2>
              </div>
          </div>
          <div class="row mb-5">
              <div class="col-md-12 text-center">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat. Donec
                      eu vehicula neque. Donec viverra lorem nunc, tempus euismod eros sollicitudin ut. Quisque et tincidunt libero. Donec id pharetra justo. Proin euismod lacinia dolor, eu scelerisque justo tempus pharetra. Vivamus nunc </p>
              </div>
          </div>
          <div class="row mt-5 mb-5">
            <div class="col-6 text-center d-flex flex-column justify-content-center">
              <p class="border-bottom border-5 pb-3">MY FOCUS</p>
              <ul>
                <li>UI/UX Design</li>
                <li>Responsive Design</li>
                <li>Web Design</li>
                <li>Mobile App Design</li>
              </ul>
            </div>
            <div class="col-6">
              <span>HTML</span>
              <div class="progress mt-2">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 95%" aria-valuemin="2" aria-valuemax="70"></div>
              </div>
              <span>Css</span>
              <div class="progress mt-2">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 92%" aria-valuemin="2" aria-valuemax="70"></div>
              </div>
              <span>JavaScript</span>
              <div class="progress mt-2">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 90%" aria-valuemin="2" aria-valuemax="70"></div>
              </div>
              <span>NodeJs</span>
              <div class="progress mt-2">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 75%" aria-valuemin="2" aria-valuemax="70"></div>
              </div>
              <span>MongoDB</span>
              <div class="progress mt-2">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 70%" aria-valuemin="2" aria-valuemax="70"></div>
              </div>
              <span>Angular</span>
              <div class="progress mt-2">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 50%" aria-valuemin="2" aria-valuemax="70"></div>
              </div>
              <span>React</span>
              <div class="progress mt-2">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 80%" aria-valuemin="2" aria-valuemax="70"></div>
              </div>
              <span>Bootstrap</span>
              <div class="progress mt-2">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 99%" aria-valuemin="2" aria-valuemax="70"></div>
              </div>
              <span>Flutter</span>
              <div class="progress mt-2">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="40" style="width: 65%" aria-valuemin="2" aria-valuemax="70"></div>
              </div>
            </div>
           







          </div>
      </div>
  </section>

  <!--End Skills Section-->
    <!--Start Poertfolio Section-->
<section class="portfolio mt-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 ">
        <h2>Portfolio</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4">
        <img src="../assets/portfolio/Products.png" class="img-thumbnail" alt="portfolio-item" />
      </div>
      <div class="col-4">
        <img src="../assets/portfolio/Products.png" class="img-thumbnail" alt="portfolio-item" />
      </div>
      <div class="col-4">
        <img src="../assets/portfolio/Products.png" class="img-thumbnail" alt="portfolio-item" />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4">
        <img src="../assets/portfolio/Products.png" class="img-thumbnail" alt="portfolio-item" />
      </div>
      <div class="col-4">
        <img src="../assets/portfolio/Products.png" class="img-thumbnail" alt="portfolio-item" />
      </div>
      <div class="col-4">
        <img src="../assets/portfolio/Products.png" class="img-thumbnail" alt="portfolio-item" />
      </div>
    </div>

  </div>
</section>
      <!--End Poertfolio Section-->
      <!--Start Footer-->
      <footer class="footer bg-dark text-light text-center py-3">
<div class="container py-2">
  <div class="row">
    <div class="col-12">
      <p class="fs-6">&copy; Reham_Helmy 2021</p>
      <i class="fab fa-facebook-f m-2"></i>
   <i class="fab fa-twitter m-2" ></i>
      <i class="fab fa-linkedin m-2" ></i>

    </div>
  </div>
</div>
      </footer>
      <!--End Footer-->



</main>

<router-outlet></router-outlet>
